pekaway/bins/PekawayMOTAnrFlasher.json
[{"id":"d01eda11e04f4158","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8850e193.e1712","type":"subflow","name":"SaveChart","info":"","category":"","in":[{"x":80,"y":140,"wires":[{"id":"40784bb1.204934"}]}],"out":[{"x":820,"y":120,"wires":[{"id":"a6525d2.cb354a","port":0}]}]},{"id":"1ac30b71.239785","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#1f677d","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#1f677d","edited":true},"page-titlebar-backgroundColor":{"value":"#1f677d","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#2e99ba","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#1f677d","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD.MM.YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bafdb694.bf3948","type":"ui_group","name":"PekawayMOTA FLASHER","tab":"9772ac3f.8e6f8","order":1,"disp":true,"width":7,"collapse":false,"className":""},{"id":"9772ac3f.8e6f8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"9af5c9ee7435128d","type":"ui_spacer","z":"d01eda11e04f4158","name":"spacer","group":"bafdb694.bf3948","order":6,"width":1,"height":1},{"id":"a0f72417.ea2838","type":"file","z":"8850e193.e1712","name":"backup","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":700,"y":160,"wires":[[]]},{"id":"70a2db09.6ff354","type":"file in","z":"8850e193.e1712","name":"restore","filename":"","format":"utf8","sendError":true,"x":530,"y":120,"wires":[["a6525d2.cb354a"]]},{"id":"922d4285.5f7e1","type":"json","z":"8850e193.e1712","name":"","property":"payload","action":"str","pretty":false,"x":530,"y":160,"wires":[["a0f72417.ea2838"]]},{"id":"a6525d2.cb354a","type":"json","z":"8850e193.e1712","name":"","property":"payload","action":"str","pretty":false,"x":690,"y":120,"wires":[[]]},{"id":"40784bb1.204934","type":"function","z":"8850e193.e1712","name":"LoadSave","func":"var strSafe=msg.topic;\nif(strSafe)\n{\n    msg.filename =\"/share/chart.save\";\n    var loaded=context.get(strSafe)||0;\n    \n    if(0===loaded||strSafe==\"restore\")\n    {\n        //node.warn(\"Loading chart\");\n        msg.payload=\"load\";\n        context.set(strSafe,1);\n    }\n    else\n    {\n        //node.warn(\"Writing chart\");\n        //node.warn(msg.payload);\n    }\n    return msg;\n \n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":140,"wires":[["51fb3038.7afb6"]]},{"id":"51fb3038.7afb6","type":"switch","z":"8850e193.e1712","name":"Load data","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"load","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":380,"y":140,"wires":[["70a2db09.6ff354"],["922d4285.5f7e1"]]},{"id":"a6cb563f5378119b","type":"ui_button","z":"d01eda11e04f4158","name":"Start flashing","group":"bafdb694.bf3948","order":7,"width":0,"height":0,"passthru":false,"label":"Flash PekawayMOTA to USB{{msg.payload}}","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":250,"y":240,"wires":[["a0d9d1d1496424d0"]]},{"id":"3af1e9f692439847","type":"exec","z":"d01eda11e04f4158","command":"","addpay":"payload","append":"","useSpawn":"true","timer":"","winHide":false,"oldrc":false,"name":"","x":1370,"y":240,"wires":[["023aa2ed1ac75543","159b8f0ae2f6f9cd","9364c3a6c7934193","9fbc39dc6e3e0d12"],[],["023aa2ed1ac75543","9c4f355f87692e92","979f41ee5798563f"]]},{"id":"b46de7486feb49a3","type":"ui_dropdown","z":"d01eda11e04f4158","name":"","label":"Choose your USB Port","tooltip":"","place":"Select option","group":"bafdb694.bf3948","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"USB1","value":"1","type":"str"},{"label":"USB2","value":"2","type":"str"},{"label":"USB3","value":"3","type":"str"},{"label":"USB4","value":"4","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":400,"y":140,"wires":[["eb45249b7d6522e5","a6cb563f5378119b"]]},{"id":"eb45249b7d6522e5","type":"function","z":"d01eda11e04f4158","name":"set port","func":"flow.set(\"usb\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":140,"wires":[[]]},{"id":"da82ba1d34015d77","type":"function","z":"d01eda11e04f4158","name":"get port","func":"let port = \"/dev/ttyPKW1\"\nlet usb = flow.get(\"usb\");\nif (msg.payload.includes(\"/dev/ttyPKW1\") && usb == 1) {\n    port = \"/dev/ttyPKW\" + usb\n}\nelse if (msg.payload.includes(\"/dev/ttyPKW2\") && usb == 2) {\n    port = \"/dev/ttyPKW\" + usb\n}\nif (msg.payload.includes(\"/dev/ttyPKW3\") && usb == 3) {\n    port = \"/dev/ttyPKW\" + usb\n}\nif (msg.payload.includes(\"/dev/ttyPKW4\") && usb == 4) {\n    port = \"/dev/ttyPKW\" + usb\n}\nelse if (msg.payload.includes(\"/dev/ttyACM0\")) {\n    port = \"/dev/ttyACM0\"\n}\nelse if (msg.payload.includes(\"/dev/ttyACM1\")) {\n    port = \"/dev/ttyACM1\"\n}\nelse if (msg.payload.includes(\"/dev/ttyACM2\")) {\n    port = \"/dev/ttyACM2\"\n}\n\nif (flow.get(\"version\") == \"dimmy_esp8266\") {\n    msg.payload = \"esptool --port \"+ port + \" -b 115200 write_flash -fs detect -fm dout 0x0 /home/pi/pekaway/bins/PekawayMOTA1mb_esp8266.bin\"\n}\nelse if (flow.get(\"version\") == \"dimmy_esp32\") {\n    msg.payload = \"esptool --port \" + port + \" -b 115200 write_flash -fs detect -fm dout 0x0 /home/pi/pekaway/bins/PekawayMOTA_esp32.bin\"\n}\nelse if (flow.get(\"version\") == \"dimmy_standalone_esp32\") {\n    msg.payload = \"esptool --port \" + port + \" -b 115200 write_flash -fs detect -fm dout 0x0 /home/pi/pekaway/bins/dimmy_standalone_esp32.bin\"\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":240,"wires":[["3af1e9f692439847"]]},{"id":"4d85ae98e66d62af","type":"ui_template","z":"d01eda11e04f4158","d":true,"group":"bafdb694.bf3948","name":"html progressbar","order":8,"width":"7","height":2,"format":"<style>\n    .w3-border {\n        border: 1px solid #ccc!important;\n    }\n    .w3-green, .w3-hover-green:hover {\n        color: #fff!important;\n        background-color: #4CAF50!important;\n    }\n    .center-vertically {\n        margin: 0;\n        position: relative;\n        top: 50%;\n        left: 50%;\n        -ms-transform: translate(-50%, -50%);\n        transform: translate(-50%, -50%);\n    }\n</style>\n<div class=\"center-vertically\">\n    <div class=\"w3-border\">\n      <div class=\"w3-green\" style=\"height:24px; width:{{msg.counter}}%\">\n          <p style=\"text-align: right\">{{msg.counter}}%</p>\n      </div>\n      <span ng-if=\"msg.counter === null\">COMPLETE !</span>\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1910,"y":320,"wires":[[]]},{"id":"023aa2ed1ac75543","type":"switch","z":"d01eda11e04f4158","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"... (","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1530,"y":280,"wires":[["89379d0beb4ede5a"]]},{"id":"89379d0beb4ede5a","type":"function","z":"d01eda11e04f4158","name":"dynamic counter","func":"msg.payload = msg.payload.substring(27,msg.payload.length - 3);\nmsg.counter = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1700,"y":280,"wires":[["4d85ae98e66d62af","15c83b83d4398586"]]},{"id":"15c83b83d4398586","type":"function","z":"d01eda11e04f4158","name":"check %","func":"if(msg.counter == 100)\n{\n    msg.payload = \"Flashing done!\";\n    msg.counter = 0;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1880,"y":280,"wires":[["7783d26e893385db"]]},{"id":"7783d26e893385db","type":"ui_toast","z":"d01eda11e04f4158","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":2050,"y":280,"wires":[["afd53c1d7e37a743"]]},{"id":"6614a8da365d7269","type":"inject","z":"d01eda11e04f4158","name":"","props":[{"p":"payload"},{"p":"counter","v":"0","vt":"num"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1730,"y":340,"wires":[["4d85ae98e66d62af"]]},{"id":"8a1fe555072bab14","type":"ui_toast","z":"d01eda11e04f4158","position":"top right","displayTime":"6","highlight":"","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1910,"y":200,"wires":[]},{"id":"159b8f0ae2f6f9cd","type":"switch","z":"d01eda11e04f4158","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Erasing flash...","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1530,"y":200,"wires":[["1268f334d00a6b99"]]},{"id":"1268f334d00a6b99","type":"function","z":"d01eda11e04f4158","name":"start notification","func":"msg.payload = \"Flashing has started on USB\"+flow.get(\"usb\")+\"! Please allow 2-5min to finish.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1700,"y":200,"wires":[["8a1fe555072bab14"]]},{"id":"5ddc01b05d61db75","type":"ui_template","z":"d01eda11e04f4158","group":"bafdb694.bf3948","name":"USB table","order":3,"width":7,"height":"3","format":"<h2 style=\"text-align: center\">RPI4 USB-port overview</h2>\n<table style=\"width: 80%, margin-left: auto, margin-right: auto;\"  border=\"2\">\n    <tbody style=\"text-align: center\">\n        <tr>\n            <th style=\"width:30%\">USB2.0</th>\n            <th style=\"width:30%\">USB3.0</th>\n            <th style=\"width:30%\">LAN</th>\n        </tr>\n        <tr>\n            <td>USB3</td>\n            <td>USB1</td>\n        </tr>\n        <tr>\n            <td>USB4</td>\n            <td>USB2</td>\n            <td>ETH</td>\n        </tr>\n    </tbody>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":400,"y":40,"wires":[[]]},{"id":"e51affc0d92c7f7e","type":"ui_button","z":"d01eda11e04f4158","name":"","group":"bafdb694.bf3948","order":11,"width":0,"height":0,"passthru":false,"label":"exit flasher","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"Exit the flasher-mode and return to system dashboard?","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":660,"wires":[["e00eff8c8911d912"]]},{"id":"afd53c1d7e37a743","type":"function","z":"d01eda11e04f4158","name":"check %","func":"if(msg.counter == 100)\n{\n    msg.payload = \"Flashing done!\";\n    msg.counter = 0;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2200,"y":280,"wires":[["4d85ae98e66d62af"]]},{"id":"ea1d5cd8b19c3fea","type":"function","z":"d01eda11e04f4158","d":true,"name":"set counter 0","func":"msg.counter = 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":320,"wires":[["4d85ae98e66d62af"]]},{"id":"d5d5dd077e8df2d6","type":"exec","z":"d01eda11e04f4158","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":1090,"y":660,"wires":[[],[],[]]},{"id":"1441edec9b59bd8b","type":"function","z":"d01eda11e04f4158","name":"change .json","func":"if (msg.payload == \"Go!\") {\n    msg.payload = 'cp .node-red/flows_pekaway.json pekaway/bins/PekawayMOTAnrFlasher.json && cp pekaway/bins/flashmodebackup.json .node-red/flows_pekaway.json  && sudo systemctl restart nodered.service'\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":660,"wires":[["d5d5dd077e8df2d6"]]},{"id":"541209542bfa4797","type":"ui_toast","z":"d01eda11e04f4158","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1890,"y":240,"wires":[[]]},{"id":"9c4f355f87692e92","type":"function","z":"d01eda11e04f4158","name":"error notification","func":"if(msg.payload.code==1) {\n    msg.payload= \"ERROR! Did you choose the right port?\"\nreturn msg;\n}\nelse if(msg.payload.includes(\"fatal error\")) {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1700,"y":240,"wires":[["541209542bfa4797"]]},{"id":"589114198f338028","type":"ui_template","z":"d01eda11e04f4158","group":"bafdb694.bf3948","name":"Design","order":4,"width":0,"height":0,"format":"<style>\n/*\nIt is reasnoble to declare the colors as CSS variables\nso they can be easily called by name where needed.\n\nYou can see that in many places the variables are not used. Change it!\n*/\n\n:root {\n  --color-green-primary: rgb(51, 204, 51);\n  --color-green-secondary: rgb(26, 101, 26);\n  --color-red-primary: rgb(255, 0, 0);\n  --color-red-secondary: rgba(153,0,0,1);\n  --color-gray-primary: rgba(20,20,20,1);\n  --color-gray-secondary: rgba(65,65,65,1);\n  --color-text-headline: rgb(62, 206, 250);\n  --color-text-headline-secondary: rgb(31, 103, 125);\n  --color-text-primary: rgb(230, 226, 209);\n  --color-widget-border: rgb(84, 78, 78);\n  --color-sidebar-primary: rgba(26, 26, 26, 1)\n}\n\n/*\nAll CSS adjustments are commented out.\nTurn rules on one by one and see the changes.\nDon't use too many elements cos it wil be confusing\nStart with simple elements like text, slider or button\n\nMany of elements like buttons have states, \nthose rules must be found and adjusted also.\n*/\n\n\n.masonry-container {\n    position: relative;\n    width: 100%;\n    height:100%;\n    margin: 0 auto;\n    background: rgb(255,0,0);\n    background: linear-gradient(180deg, var(--color-gray-primary)8%, var(--color-gray-secondary) 60%, var(--color-text-headline-secondary));\n}\n\nmd-sidenav.md-sidenav-left._md {\n    background: linear-gradient(180deg, var(--color-sidebar-primary)6%, var(--color-gray-secondary) 60%, var(--color-text-headline-secondary));\n}\n\n\n\n.nr-dashboard-cardcontainer {\n    position: relative;\n    /*box-shadow: inset 0px 1px 4px 0px #000000bb;\n    border-radius: 15px;*/\n}\n\n\n \n.nr-dashboard-theme ui-card-panel {\n    background-color: #33333300;\n    color:var(--color-text-primary);\n    /*border-radius: 15px;*/\n    box-shadow: 0 0 8px 0px #00000080;\n}\n\n\n \nbody.nr-dashboard-theme md-content md-card {\n    background-color: #33333300;\n    color: var(--color-text-primary);\n    text-shadow: 4px 2px 4px #00000045;\n    box-shadow: 0 -1px 5px 1px #00000045;\n    border-radius: 10px;\n    /*border: 1px solid var(--color-widget-border);*/\n}\n\n\n\n.nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n    color: var(--color-text-headline);\n    text-align: center;\n}\n\n\n.md-button {\n    display: inline-block;\n    position: relative;\n    cursor: pointer;\n    min-height: 36px;\n    min-width: 88px;\n    line-height: 36px;\n    vertical-align: middle;\n    align-items: center;\n    text-align: center;\n    border-radius: 12px;\n    box-sizing: border-box;\n    -webkit-user-select: none;\n    -moz-user-select: none;\n    -ms-user-select: none;\n    user-select: none;\n    outline: none;\n    border: 0;\n    padding: 0 6px;\n    margin: 6px 8px;\n    background: transparent;\n    color:var(--color-text-primary);\n    white-space: nowrap;\n    text-transform: uppercase;\n    font-weight: 500;\n    font-size: 14px;\n    font-style: inherit;\n    font-variant: inherit;\n    font-family: inherit;\n    text-decoration: none;\n    overflow: hidden;\n    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);\n}\n\n\n.nr-dashboard-theme .nr-dashboard-button .md-button {\n    background-color: #88888800;\n    color:var(--color-text-headline);\n}\n\n\n\n.nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n    background-color: #88888855;\n}\n\n.md-toolbar-tools {\n    background-color: var(--color-gray-primary);\n}\n\n\nmd-slider .md-thumb {\n    z-index: 1;\n    position: absolute;\n    left: -10px;\n    top: 14px;\n    width: 20px;\n    height: 20px;\n    border-radius: 20px;\n    -webkit-transform: scale(.7);\n    transform: scale(.7);\n    transition: all .4s cubic-bezier(.25,.8,.25,1);\n    box-shadow: 0 0 6px #00000070;\n    color: var(--color-text-primary);\n}\n\n\nAdvanced stuff - dynamic change of card CSS\n\nClasses here can be used to make colored stripe at the top of card\nUsage is not in here, but they are added to md-card when needed within another template\n\n.carderr {\n    background: rgb(255,0,0);\n    background: linear-gradient(180deg, var(--color-red-primary) 0px, var(--color-red-secondary) 3px, rgba(80,80,80,1) 4px, rgba(45,45,45,1) 100%);\n}\n.cardok {\n    background: rgb(39,255,0);\n    background: linear-gradient(180deg, var(--color-green-primary) 0px, var(--color-green-secondary) 3px, rgba(70,70,70,1) 4px, rgba(40,40,40,1) 100%);\n}\n\n\n</style>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":240,"y":40,"wires":[[]]},{"id":"dddabcda71ff799e","type":"ui_toast","z":"d01eda11e04f4158","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"Go!","cancel":"Cancel","raw":true,"className":"","topic":"","name":"","x":630,"y":240,"wires":[["ea1d5cd8b19c3fea","05aeda41eb4081cb"]]},{"id":"e00eff8c8911d912","type":"ui_toast","z":"d01eda11e04f4158","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"Go!","cancel":"Cancel","raw":false,"className":"","topic":"","name":"","x":410,"y":660,"wires":[["1441edec9b59bd8b"]]},{"id":"ab3e67796212a0da","type":"inject","z":"d01eda11e04f4158","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":90,"y":140,"wires":[["a6cb563f5378119b","b46de7486feb49a3","f49a8e840f804b48"]]},{"id":"9364c3a6c7934193","type":"switch","z":"d01eda11e04f4158","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"fatal error","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1530,"y":240,"wires":[["9c4f355f87692e92"]]},{"id":"2a3d283597ac69f2","type":"ui_dropdown","z":"d01eda11e04f4158","name":"","label":"Choose version","tooltip":"","place":"Select option","group":"bafdb694.bf3948","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Dimmy VanPi ESP32","value":"dimmy_esp32","type":"str"},{"label":"Dimmy VanPi ESP8266","value":"dimmy_esp8266","type":"str"},{"label":"Dimmy Standalone ESP32","value":"dimmy_standalone_esp32","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":420,"y":100,"wires":[["d763c4d73a5ca0d4"]]},{"id":"d763c4d73a5ca0d4","type":"function","z":"d01eda11e04f4158","name":"set version","func":"flow.set(\"version\", msg.payload)","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":100,"wires":[[]]},{"id":"f49a8e840f804b48","type":"function","z":"d01eda11e04f4158","name":"set default","func":"msg.payload = \"dimmy_esp32\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":100,"wires":[["2a3d283597ac69f2"]]},{"id":"806a9eeb14770169","type":"exec","z":"d01eda11e04f4158","command":"ls -l /dev/ttyPKW* & ls -l /dev/ttyACM*","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"check serials","x":590,"y":520,"wires":[["c28df4f5a5c2979b"],[],[]]},{"id":"c2c750e77819d907","type":"function","z":"d01eda11e04f4158","name":"set command","func":"msg.payload = \"ls -l /dev/ttyPKW* & ls -l /dev/ttyACM*\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":520,"wires":[["806a9eeb14770169"]]},{"id":"9fbc39dc6e3e0d12","type":"ui_text","z":"d01eda11e04f4158","group":"bafdb694.bf3948","order":9,"width":0,"height":0,"name":"","label":"status","format":"{{msg.payload}}","layout":"col-center","className":"","x":1530,"y":160,"wires":[]},{"id":"2c0fd659b1b97419","type":"exec","z":"d01eda11e04f4158","command":"ls -l /dev/ttyPKW* & ls -l /dev/ttyACM*","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"check serials","x":1010,"y":240,"wires":[["da82ba1d34015d77"],[],[]]},{"id":"05aeda41eb4081cb","type":"function","z":"d01eda11e04f4158","name":"function 4","func":"if (msg.payload == \"Go!\") {\n    msg.payload = \"ls -l /dev/ttyPKW* & ls -l /dev/ttyACM*\"\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":240,"wires":[["2c0fd659b1b97419"]]},{"id":"cb275b2e9fb4b3af","type":"inject","z":"d01eda11e04f4158","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":520,"wires":[["c2c750e77819d907"]]},{"id":"b2cd7c178ddb1bf1","type":"split","z":"d01eda11e04f4158","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":930,"y":540,"wires":[["de8aeccb342b8a64"]]},{"id":"de8aeccb342b8a64","type":"function","z":"d01eda11e04f4158","name":"function 5","func":"if (msg.payload.includes(\"/dev/ttyPKW\") || msg.payload.includes(\"/dev/ttyACM\")) {\n    if (msg.payload.includes(\"ttyUSB\")) {\n        msg.payload = msg.payload.substring(msg.payload.length - 23, msg.payload.length -11)   \n    }\n    else {\n        msg.payload = msg.payload.substring(msg.payload.length - 12)\n    }\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":540,"wires":[["fa50d3ffc5766e1b"]]},{"id":"fa50d3ffc5766e1b","type":"join","z":"d01eda11e04f4158","name":"connections array","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1350,"y":540,"wires":[[]]},{"id":"c28df4f5a5c2979b","type":"function","z":"d01eda11e04f4158","name":"check result","func":"if (msg.payload.includes(\"/dev/ttyPKW\") || msg.payload.includes(\"/dev/ttyACM\")) {\n    return [null, msg]\n}\nelse if (msg.payload == \"\") {\n    msg.payload = \"no serial connections found\"\n    return [msg, null]\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":520,"wires":[["b02f639c677fff5d"],["b2cd7c178ddb1bf1","d857f16a55571e7e"]]},{"id":"a0d9d1d1496424d0","type":"function","z":"d01eda11e04f4158","name":"set popup","func":"msg.payload = \"<center>Make sure you selected the right USB-port and software version for your ESP device.<br><br><u>Please make sure only one serial device is connected to the RPI. <br>Otherwise errors may occur.</u><br><br>Do you want to start flashing?</center>\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":240,"wires":[["dddabcda71ff799e"]]},{"id":"59145c44feba21b3","type":"ui_button","z":"d01eda11e04f4158","name":"","group":"bafdb694.bf3948","order":5,"width":0,"height":0,"passthru":false,"label":"check USB serial connections","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"Exit the flasher-mode and return to system dashboard?","payloadType":"str","topic":"topic","topicType":"msg","x":290,"y":480,"wires":[["c2c750e77819d907"]]},{"id":"b02f639c677fff5d","type":"ui_toast","z":"d01eda11e04f4158","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":true,"className":"","topic":"Available serial connections:","name":"","x":1330,"y":500,"wires":[[]]},{"id":"d857f16a55571e7e","type":"function","z":"d01eda11e04f4158","name":"no connection","func":"if (msg.payload == \"\") {\n    msg.payload = \"No serial connections found\"\n}\nmsg.payload = msg.payload.replace(\"\\n\", \"<br>\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":480,"wires":[["b02f639c677fff5d"]]},{"id":"c05f54b60721df6c","type":"ui_button","z":"d01eda11e04f4158","name":"Cancel flashing","group":"bafdb694.bf3948","order":10,"width":0,"height":0,"passthru":false,"label":"Cancel flashing","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"SIGTERM","payloadType":"str","topic":"topic","topicType":"msg","x":260,"y":280,"wires":[["48c6625f1a6fa107"]]},{"id":"48c6625f1a6fa107","type":"function","z":"d01eda11e04f4158","name":"kill","func":"msg.kill = \"SIGTERM\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":280,"wires":[["3af1e9f692439847"]]},{"id":"979f41ee5798563f","type":"function","z":"d01eda11e04f4158","name":"canceled","func":"if (msg.payload.signal == \"SIGTERM\") {\n    msg.payload = \"process canceled\"\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":340,"wires":[["9fbc39dc6e3e0d12"]]},{"id":"7b9d40c8b96aa7a5","type":"inject","z":"d01eda11e04f4158","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"not started","payloadType":"str","x":1350,"y":180,"wires":[["9fbc39dc6e3e0d12"]]}]